@model IEnumerable<TeamWork.Models.Comment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-content">


    <div class="page-header">
        <h1>
            Comment
            @if (User.IsInRole("Staff"))
            {
                <a href="~/Comments/Create" class="btn btn-xs btn-info active pull-right" aria-pressed="true">Create New</a>
            }
        </h1>

    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <table id="simple-table" class="table  table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Idea.Description)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Description)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.NumberOfLikes)
                                </th>
                                
                                @if (User.IsInRole("Staff"))
                                {
                                    <th>Delete</th>
                                    <th>Like</th>
                                }
                                
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Idea.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NumberOfLikes)
                                </td>
                                @if (User.IsInRole("Staff"))
                                {
                                    <td>

                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" }) |

                                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                                    </td>
                                }
                                    @if (User.IsInRole("Staff"))
                                    {
                                        if (item.IsLike == false)
                                        {
                                            <td>  @Html.ActionLink("Like", "Like", new { id = item.Id }, new { @class = "btn btn-sm btn-primary" })</td>
                                        }
                                        else if (item.IsLike == true)
                                        {
                                            <td>  @Html.ActionLink("Unlike", "Unlike", new { id = item.Id }, new { @class = "btn btn-sm btn-primary" })</td>
                                        }
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>

                </div><!-- /.span -->
            </div><!-- /.row -->
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->

<script>
    function Edit(id, like) {
        $.ajax({
            type: "POST",
            data: { id: id, like: like },
            url: 'Edit',
        }).done(function (result) {
            var html = ""
            for (var i = 0; i < result.length; i++) {
                html += '<tr><td>' + result[i].id + '</td><td>' + result[i].numberOfLikes + '</td><td>' + result[i].numberOfDislikes + '</td><td><button onclick="Edit(' + result[i].id + ',true)">Like</button><button onclick="Edit(' + result[i].id + ',false)">Dislike</button></td></tr>'
            }
            document.getElementById("tbody1").innerHTML = html;
        });
    }
</script>