@model IEnumerable<TeamWork.ViewModels.UserInRolesViewModel>
@{
    ViewBag.Title = "Index";
}


<div class="page-content">


    <div class="page-header">
        <h1>
            Manage Accounts
           
        </h1>

    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <table id="simple-table" class="table  table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>UserName</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Delete</th>
                                <th>Edit User Name</th>
                                <th>Reset Password to Abc@@1234</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model)
                            {
                                <tr>
                                    @if ((user.Role.Contains("Admin")) == false)
                                    {
                                        <td>@user.Username</td>
                                        <td>@user.Email</td>
                                        <td>@user.Role</td>
                                        <td>@Html.ActionLink("Delete this account", "Delete", new { id = user.UserId })</td>
                                        <td>@Html.ActionLink("Edit user name", "Edit", new { id = user.UserId })</td>
                                        <td>@Html.ActionLink("Reset Password", "ChangePass", new { id = user.UserId })</td>
                                    }
                                    @*	.
                <td>@user.Username</td>
                <td>@user.Email</td>
                <td>@user.Role</td>
                <td>@Html.ActionLink("Delete this account", "Delete", new { id = user.UserId })</td>
                <td>@Html.ActionLink("Edit user name", "Edit", new { id = user.UserId })</td>
                .*@
                                    @*	<td>@Html.ActionLink("Change Password", "ChangePass", new { id = user.UserId})</td>*@
                                </tr>
                            }
                        </tbody>
                    </table>

                </div><!-- /.span -->
            </div><!-- /.row -->
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->