@model TeamWork.ViewModels.PostAssignmentViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm("Create", "Ideas", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Idea</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Idea.ItemId, "ItemId", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.Idea.ItemId, (IEnumerable<SelectListItem>)ViewBag.ItemId)
            @Html.ValidationMessageFor(model => model.Idea.ItemId, "", new { @class = "text-danger", id = "ItemId" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Idea.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Idea.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Idea.Description, "", new { @class = "text-danger" })
        </div>
    </div>

 


    <div class="form-group">
        @Html.LabelFor(model => model.Idea.File, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" name="File" id="File" required />
        </div>
    </div>
    <br />



  

    <div class="col-md-10">
        <input type="checkbox" id="rterms" value="Agreed-to-Terms" name="rterms" required> I agree with Terms & Conditions.
        <div class="help-block with-errors"></div>
    </div>

    <br />
</div>
    if (Model.StatusPost == 1)
    {
        <br />

        <div type="submit">
            <button class="btn btn-primary">Submit</button>
        </div>

        @*<script>
                document.getElementById('sweetalert').click = function () {
                    swal("Good job!", "You successfully submitted the post!", "success");
                };
            </script>*@

    }
    else
    {
        <h1>You can't submit now.</h1>
    }
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}